<section class="font-sans leading-normal tracking-normal">
  <div class="flex flex-no-wrap h-screen relative">
    <button
      (click)="handlerMenuToggle()"
      type="button"
      class="fixed top-4 right-4 lg:hidden"
    >
      <img width="24" height="24" src="/icons/menu.svg" alt="hamburger" />
    </button>

    <div
      #menuSlide
      class="z-10 hidden fixed lg:static lg:flex flex-col w-[200px] h-full bg-gray-800 text-white"
    >
      <div class="p-6 text-center font-bold border-gray-700">
        <h3 class="text-2xl">Clipboard Manager</h3>
      </div>

      <nav class="h-full flex flex-col justify-between">
        <aside class="flex flex-col">
          <div class="border border-orange-600 w-[80%] mx-auto mb-6"></div>

          @for (item of MENU_OPTIONS.top; track item.title) {
            <app-navbar-option
              [link]="item.link"
              [img]="item.img"
              [title]="item.title"
            />
          }
        </aside>

        <aside class="flex flex-col gap-2">
          @for (item of MENU_OPTIONS.bottom; track item.title) {
            <app-navbar-option
              [link]="item.link"
              [img]="item.img"
              [title]="item.title"
            />
          }

          <div class="border border-orange-600 w-[80%] mx-auto"></div>

          <a
            href="https://github.com/JavierMolines"
            class="py-2.5 px-4 justify-center flex hover:bg-gray-700"
          >
            <img
              src="/icons/github.svg"
              alt="request.svg"
              width="24"
              height="24"
            />
          </a>
        </aside>
      </nav>
    </div>

    <div class="flex-1 p-10 h-full">
      <router-outlet />
    </div>
  </div>
</section>
