<div class="flex flex-col gap-4 h-full">
  <h3 class="text-2xl">System options</h3>

  <label class="inline-flex items-center me-5 cursor-pointer">
    <input
      (click)="handlerClick()"
      type="checkbox"
      value=""
      class="sr-only peer"
      [checked]="statusButtonCheck()"
    />
    <div
      class="relative w-11 h-6 rounded-full peer bg-gray-700 peer-focus:ring-4 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-orange-500"
    ></div>
    <span class="select-none ms-3 text-sm font-medium text-gray-900"
      >Auto redirect save</span
    >
  </label>
</div>
