<div
  id="{{ prefix + id }}"
  (click)="loadClipboard(data)"
  style="scrollbar-width: none"
  [class]="cardContainerClass"
>
  @if (viewMode === "list") {
    <div
      class="w-full max-w-full overflow-hidden grid grid-cols-[auto_minmax(0,1fr)] items-center gap-2 pr-12 text-sm"
    >
      <div class="min-w-0 flex items-center gap-2 overflow-hidden">
        <span class="shrink-0 whitespace-nowrap text-xs text-gray-700">{{
          time
        }}</span>

        @if (title !== "") {
          <span class="shrink-0 text-gray-500">-</span>
          <h3
            class="shrink min-w-0 max-w-32 md:max-w-44 truncate text-sm font-semibold"
          >
            {{ title }}
          </h3>
        }

        <span class="shrink-0 text-gray-500">-</span>
      </div>

      <p
        class="block min-w-0 overflow-hidden text-ellipsis whitespace-nowrap text-sm"
      >
        {{ data }}
      </p>
    </div>
  } @else {
    @if (title !== "") {
      <h3 [class]="titleClass">{{ title }}</h3>
    }

    <span [class]="timeClass">{{ time }}</span>
    <p [class]="contentClass">{{ data }}</p>
  }

  <button
    type="button"
    [class]="deleteButtonClass"
    aria-label="Delete card"
    (click)="$event.stopPropagation()"
  >
    <span class="group-focus:hidden">
      <app-icons name="delete" color="#580f0f" />
    </span>

    <span class="hidden group-focus:block" (click)="deleteItem($event, id)">
      <app-icons name="confirm-delete" color="#580f0f" />
    </span>
  </button>

  @if (urlContent !== "") {
    <a
      onclick="event.stopPropagation()"
      [href]="urlContent"
      target="_blank"
      [class]="externalLinkButtonClass"
      aria-label="Open Url Card"
    >
      <app-icons name="external-link" color="#580f0f" />
    </a>
  }
</div>
