<select
  class="w-full p-2.5 text-md rounded-lg border text-gray-950 bg-gray-50 border-gray-300 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-orange-600"
  (change)="handlerChangeSelect($event)"
  [disabled]="tags().length === 0"
>
  @if (tags().length === 0) {
    <option value="" selected>No tags</option>
  } @else {
    <option value="" selected>Select tag</option>
    @for (tag of tags(); track tag.color) {
      <option value="{{ tag.name }}">{{ tag.name }}</option>
    }
  }
</select>
