<form class="flex flex-col gap-4 h-full">
  <h3 class="text-2xl">Paste your clipboard</h3>

  <textarea
    [id]="idTextInput"
    autofocus="true"
    rows="4"
    class="block p-2.5 lg:w-3/5 text-md rounded-lg text-gray-950 bg-gray-300 border-gray-600 placeholder-gray-400 focus:ring-blue-500 focus:border-blue-500"
    placeholder="Data here..."
    [formControl]="textArea"
  ></textarea>

  <h3 class="text-2xl">
    Add a title
    <span class="text-sm text-gray-700">(Optional)</span>
  </h3>

  <input
    class="block p-2.5 lg:w-3/5 text-md rounded-lg text-gray-950 bg-gray-300 border-gray-600 placeholder-gray-400 focus:ring-blue-500 focus:border-blue-500"
    type="text"
    placeholder="Title here..."
    [formControl]="titleInput"
  />

  <div class="flex gap-2">
    <button
      aria-label="Save clipboard"
      (click)="buttonClick()"
      type="button"
      class="w-full lg:w-auto focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-md px-5 py-2.5 mb-2"
    >
      Save
    </button>
    <button
      aria-label="Clear form"
      (click)="clearForm()"
      type="button"
      class="w-full lg:w-auto focus:outline-none text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-md px-5 py-2.5 mb-2"
    >
      Clear
    </button>
  </div>
</form>
