<main>
  <h1 class="text-2xl">JSON parser and Base64 handler</h1>

  <div class="mt-6 flex flex-col mb-4 lg:flex-row">
    <article
      id="{{ tai }}"
      class="w-[100%] lg:w-[40%] overflow-auto border-2 border-gray-400 h-[300px] lg:h-[520px] 2xl:h-[710px]"
    ></article>

    <div class="w-[100%] lg:w-[20%] h-full p-5 flex flex-col gap-4 self-center">
      <p class="text-center">Handler Text (right panel)</p>

      <button
        (click)="onClickCopyClipboard()"
        class="p-2 cursor-pointer bg-orange-300 hover:bg-orange-400 rounded-lg"
      >
        Copy Clipboard
      </button>

      <button
        (click)="onClickMoveText()"
        class="p-2 cursor-pointer bg-orange-300 hover:bg-orange-400 rounded-lg"
      >
        Move Left
      </button>
      <p class="text-center">Base64</p>

      <button
        (click)="onClickDecode()"
        class="p-2 cursor-pointer bg-orange-300 hover:bg-orange-400 rounded-lg"
      >
        Decode
      </button>
      <button
        (click)="onClickEncode()"
        class="p-2 cursor-pointer bg-orange-300 hover:bg-orange-400 rounded-lg"
      >
        Encode
      </button>

      <p class="text-center">
        Json Valid {{ jsonValid() ? "&#9989;" : "&#9940;" }}
      </p>

      <button
        id="{{ buttonsJson.beu }}"
        (click)="onClickBeautify()"
        class="to-json p-2 bg-gray-300 rounded-lg"
      >
        Beautify
      </button>
      <button
        id="{{ buttonsJson.min }}"
        (click)="onClickMinify()"
        class="to-json p-2 bg-gray-300 rounded-lg"
      >
        Minify
      </button>
    </div>

    <article
      id="{{ tao }}"
      class="w-[100%] lg:w-[40%] overflow-auto border-2 border-gray-400 h-[300px] lg:h-[520px] 2xl:h-[710px]"
    ></article>
  </div>
</main>
