<main>
  <h1 class="text-2xl">JSON parser and Base64 handler</h1>

  <div class="mt-6 flex flex-col mb-4 lg:flex-row">
    <textarea
      id="{{ tai }}"
      (input)="onChangeTextArea()"
      class="flex-auto font-mono border-2 border-gray-400 resize-none h-[300px] lg:h-[500px] 2xl:h-[700px]"
    ></textarea>

    <div class="w-[200px] h-full p-5 flex flex-col gap-4 self-center">
      <button
        (click)="onClickDecode()"
        class="p-2 cursor-pointer bg-orange-300 hover:bg-orange-400 rounded-lg"
      >
        Decode
      </button>
      <button
        (click)="onClickEncode()"
        class="p-2 cursor-pointer bg-orange-300 hover:bg-orange-400 rounded-lg"
      >
        Encode
      </button>

      <button
        (click)="onClickCopyClipboard()"
        class="p-2 cursor-pointer bg-orange-300 hover:bg-orange-400 rounded-lg"
      >
        Copy Clipboard
      </button>

      <p class="text-center">
        Json Valid {{ jsonValid() ? "&#9989;" : "&#9940;" }}
      </p>

      <button
        id="{{ buttonsJson.beu }}"
        (click)="onClickBeautify()"
        class="to-json p-2 bg-gray-300 rounded-lg"
      >
        Beautify
      </button>
      <button
        id="{{ buttonsJson.min }}"
        (click)="onClickMinify()"
        class="to-json p-2 bg-gray-300 rounded-lg"
      >
        Minify
      </button>
    </div>

    <textarea
      id="{{ tao }}"
      class="flex-auto font-mono border-2 border-gray-400 resize-none h-[300px] lg:h-[500px] 2xl:h-[700px]"
    ></textarea>
  </div>
</main>
